{% extends 'layout.html.twig' %}

{% block layout %}
    <div class="container">
        <h1>{{ artwork.title }}</h1>
        <p>{{ artwork.date }}</p>
        <p>{{ artwork.image }}</p>
        <p>{{ artwork.date }}</p>

        {{ dump(artwork.artists) }}

        {% for artist in artwork.artists %}
            <h2>{{ artist.name }}</h2>
        {% endfor %}


    </div>

{% endblock %}
