{% extends 'layout.html.twig' %}

{% block layout %}

    <div class="artwork-header">
        <img src="{{ artwork.image }}" alt="{{ artwork.title }}" class="artwork-bg">
        <img src="{{ artwork.image }}" alt="{{ artwork.title }}" class="artwork-img">

    </div>
    <div class="container artwork-page">
        <div class="row container-description">
            <div class="main-description ml-4 mr-4">
                <h1 class="mt-3 mb-3">{{ artwork.title }}</h1>
                {% for artist in artwork.artists %}
                    <h2>{{ artist.name }}</h2>
                {% endfor %}
                <p>{{ artwork.fullDate }}</p>
                <p>{{ artwork.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}
