{% extends 'layout.html.twig' %}

{% block layout %}
    <div class="container">
        <img src="{{ artwork.image }}" alt="Ceci est une balise de type ALT">
        <h1>{{ artwork.title }}</h1>
        <p>{{ artwork.date }}</p>

        {% for artist in artwork.artists %}
            <p>{{ artist.name }}</p>
        {% endfor %}
        <p>{{ artwork.description }}</p>
    </div>
{% endblock %}
